//font-families
@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-Regular.woff2") format("woff2"), url("/assets/fonts/static/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-Bold.woff2") format("woff2"), url("/assets/fonts/static/Inter-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/static/Inter-ExtraBold.woff2") format("woff2"), url("/assets/fonts/static/Inter-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

// colors
$dark-space-blue: #00001a;
$almost-white: #fffdfa;
$light-vermillion: #f15d51;
$gunmetal: #5e607a;
$silver: #c5c6ce;
$yellow: #e9aa52;

// font sizes
$root-font: 15;
$heading-xl: 56;
$heading-l: 40;
$heading-m: 32;
$heading-s: 20;
$heading-xs: 18;

@mixin converToRem($property, $size, $root-size: $root-font) {
    #{$property}: calc($size / $root-font) + rem;
}

@function convertLineHeight($size) {
    $result: ($size / 15);
    @return $result;
}

:root {
    font-size: ($root-font) + px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: "Inter", sans-serif;
    color: $dark-space-blue;
}

h1 {
    @include converToRem(font-size, $heading-l);

    @media (min-width: 600px) {
        color: blue;
    }
}

p {
    line-height: convertLineHeight(26);
}
